@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #2563eb;
}

body {
  @apply bg-gray-50 text-gray-900;
  font-family: 'Inter', sans-serif;
  /* Make sure to import Inter font */
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-200 rounded-full hover:bg-blue-300;
}